<nav class="navbar navbar-expand-lg fixed-top z-3 " >
    <div class="container">
    <!-- logo -->
    <a class="navbar-brand fw-bolder  " routerLink="/"> Hello,I'm Dalia <i class="fa-solid fa-code"></i></a>
    <!-- responsive nav button -->
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fa-solid fa-bars-staggered "></i></button>
       <!-- nav-links -->
       <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
             <li class="nav-item">
                <a class="nav-link  fw-bold"routerLink="/home" routerLinkActive="active-link">Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link  fw-bold" routerLink="/about" routerLinkActive="active-link">About</a>
             </li>
             <li class="nav-item">
                <a class="nav-link  fw-bold"routerLink="/skills" routerLinkActive="active-link">Skills</a>
             </li>
             <li class="nav-item">
                <a class="nav-link  fw-bold" routerLink="/projects" routerLinkActive="active-link">My Projects</a>
             </li>
            <li class="nav-item">
                <a class="nav-link  fw-bold"routerLink="/contact" routerLinkActive="active-link">Contact Me</a>
             </li>
          </ul>
       </div>
    </div>
 </nav> 
 <section class="contact vh-100" id="contact">
   <div class="container " data-aos="flip-up">
  <div class="contact-title">
   <h2 class="fw-bold text-center p-3">Contact Me </h2>
  </div>   
 
   <div class="row text-center p-4">
   
   <div class="col-12 col-md-6 "data-aos="fade-down-right">
     <div class="contact-details px-3 text-md-center">
 
 
 
     <div class="con-info ps-0">
    <i class="fa-solid fa-phone text-primary"></i>
    <span>Phone:+201018822986</span>
     </div>
 
     <div class="con-info ">
       <i class="fa-regular fa-envelope text-primary"></i>
        <span>Email: <a href="mailto:dalia.19.7@gmail.com"target="_blank">dalia.19&#64;gmail.com</a></span>
     </div>

   </div>
</div>

<div class="col-12 col-md-6 "data-aos="fade-down-right">
   <div class="contact-details px-3 text-md-center">

 
     <div class="con-info  ps-0">
       <i class="fab fa-github text-primary"></i>
       <span> <a href=" https://github.com/Dalia-Ezzat"target="_blank">Github Account</a></span>
       
    </div>      
    
     <div class="con-info ">
      <i class="fab fa-linkedin text-primary"></i>
       <span><a href="https://www.linkedin.com/in/dalia-mohammed-mohammed-ezzat-1848b7209/"target="_blank" >Linkedin Account</a></span>
    </div>
 
  
  </div> 
 
 
   </div>
 </div>
   </div>
 </section>
