<nav class="navbar navbar-expand-lg fixed-top z-3 " >
   <div class="container">
   <!-- logo -->
   <a class="navbar-brand fw-bolder  " routerLink="/"> Hello,I'm Dalia <i class="fa-solid fa-code"></i></a>
   <!-- responsive nav button -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fa-solid fa-bars-staggered "></i></button>
      <!-- nav-links -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
         <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
               <a class="nav-link  fw-bold"routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link  fw-bold" routerLink="/about" routerLinkActive="active-link">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link  fw-bold"routerLink="/skills" routerLinkActive="active-link">Skills</a>
            </li>
            <li class="nav-item">
               <a class="nav-link  fw-bold" routerLink="/projects" routerLinkActive="active-link">My Projects</a>
            </li>
           <li class="nav-item">
               <a class="nav-link  fw-bold"routerLink="/contact" routerLinkActive="active-link">Contact Me</a>
            </li>
         </ul>
      </div>
   </div>
</nav> 
 <section class=" about vh-100 " id="about">
   <div class="container ">
   <div class="row ">

 <div class=" col-12 col-md-6 d-sm-block mt-5" data-aos="fade-right">
 <div class="about-img ">
   <img src="./assets/images/Hand coding-bro.svg" class="img-fluid" alt="coding">
 </div>
 </div>

 <div class="col-12 col-md-6  mt-5 about-details" data-aos="fade-down-left">
   <div class="about-content mt-5 ">
      <h2 class="title  fw-bold ps-2">About Me:</h2>
      <p >I'm a Software developer Who lives in <span class="text-primary">Cairo,Egypt.</span> 
      <p>I'm a passionate, detail-oriented and versatile Front-End developer who creates codes out of pretty designs.
       i use Javascript technologies in the Front-end , Always learning new skills 
       and technologies to add to what I already know.</p>
       <p class=" w-100">My journey started after graduating with two years I learned HTML, CSS and then I started learning more about JavaScript and how to add logic to my web pages, So I started creating projects with some Javascript frameworks like angular and libraries like React, I found myself more into Angular. It has transformed 
         how I think about front-end development so I started learning more about it..</p>
         <p class="text-about fw-bolder mb-0">Technologies that I use :</p>

       <div class="about-icons mt-0 ">
         <p class=" mw-100 mb-0">
         <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="30" height="30"/> </a>
         <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3"width="30" height="30"/> </a>
           <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="30" height="30"/> </a>
           <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="30" height="30"/> </a>
       <a href="https://jquery.com/" target="_blank" rel="noreferrer"> <img src="https://icongr.am/devicon/jquery-plain-wordmark.svg?size=128&color=228abf"alt="jq" width="30" height="30"></a>
             <a href="https://sass-lang.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="30" height="30"/> </a>
             <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
        alt="typescript" width="30" height="30"/> </a> <a href="https://angular.io" target="_blank" rel="noreferrer"> <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" width="50" height="50"/> </a> 
         <a href="https://postman.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="30" height="30"/> </a>
       </p>
       <button class="btn btn-primary btn1 mt-0 "><a href="./assets/images/dalia CV..pdf" download="download" target="_blank"  class="text-white pe-3 ps-3">Download Resume</a></button>

      </div>
   </div>
 </div>

  </div>
  </div>
</section>