<nav class="navbar navbar-expand-lg fixed-top z-3 " >
  <div class="container">
  <!-- logo -->
  <a class="navbar-brand fw-bolder  " routerLink="/"> Hello,I'm Dalia <i class="fa-solid fa-code"></i></a>
  <!-- responsive nav button -->
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fa-solid fa-bars-staggered "></i></button>
     <!-- nav-links -->
     <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
           <li class="nav-item">
              <a class="nav-link  fw-bold"routerLink="/home" routerLinkActive="active-link">Home</a>
           </li>
           <li class="nav-item">
              <a class="nav-link  fw-bold" routerLink="/about" routerLinkActive="active-link">About</a>
           </li>
           <li class="nav-item">
              <a class="nav-link  fw-bold"routerLink="/skills" routerLinkActive="active-link">Skills</a>
           </li>
           <li class="nav-item">
              <a class="nav-link  fw-bold" routerLink="/projects" routerLinkActive="active-link">My Projects</a>
           </li>
          <li class="nav-item">
              <a class="nav-link  fw-bold"routerLink="/contact" routerLinkActive="active-link">Contact Me</a>
           </li>
        </ul>
     </div>
  </div>
</nav> 
 <section class="projects vh-100 " id="projects">
   <div class="container text-center ">
   <h2 class="projects-title ">My Projects</h2>
   <p class="">Here’s what I’ve been up to lately, This is a list of my projects using different technologies</p>
   <p class="text-primary fw-bolder h5 pb-2">You can check the code on github</p>
    <div class="row ">
   
    <div class="col-md-6 col-lg-3 "data-aos="fade-up-right">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://e-commerce-umber-tau.vercel.app/" target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>A Fresh Cart App using Angular </h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
    
      <div class="col-md-6 col-lg-3 "data-aos="fade-up-right">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/Yummy-Food/index.html" target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture1.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>Food application from different countries using api </h5>
   
   
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
     <div class="col-md-6 col-lg-3 "data-aos="fade-up-right">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/weather-application/" target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture3.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>Weather App journal using weather api</h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
     <div class="col-md-6 col-lg-3 "data-aos="fade-up-left">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/Bookmarker-App/" target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture4.PNG" class=" img-fluid" alt="">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>A bookmarker App using Javascript </h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
     <div class="col-md-6 col-lg-3 "data-aos="fade-up-left">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/Smart-Login-System/"target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture5.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>Login-System using Javascript</h5> 
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
     <div class="col-md-6 col-lg-3 "data-aos="fade-up-left">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/generate-quotes/"target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture10.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>Generate-Quotes App Using Javascript Responsive to all screens </h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
     <!-- <div class="col-md-6 col-lg-3 "data-aos="fade-up-right">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/Egyption-Party/"target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture9.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>ُ Egyption Party App using Javascrip & jquery Responsive to all screens </h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div> -->
   
     <div class="col-md-6 col-lg-3 "data-aos="fade-up-right">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://mealify-nine.vercel.app/"target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture7.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>Mealify App Responsive to all screens </h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
   
   
     <div class="col-md-6 col-lg-3"data-aos="fade-up-right">
     <div class="project img shadow d-flex justify-content-center align-items-center">
     <a href="https://dalia-ezzat.github.io/Danials/"target="_blank" >
       <div class="photo w-100 h-100">
      <img src="./assets/images/Capture8.PNG" class=" img-fluid" alt="task">
    <div class="layer">
   <div class="text text-center p-4 text-white">
   <h5>Danials App Responsive to all screens </h5>
   </div>
   </div>
   </div>
     </a>
      </div> 
    </div>
   
     
   
   
    </div>
   </div>
   </section>
   
