<nav class="navbar navbar-expand-lg fixed-top z-3 " >
  <div class="container">
  <!-- logo -->
  <a class="navbar-brand fw-bolder  " routerLink="/"> Hello,I'm Dalia <i class="fa-solid fa-code"></i></a>
  <!-- responsive nav button -->
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fa-solid fa-bars-staggered "></i></button>
     <!-- nav-links -->
     <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
           <li class="nav-item">
              <a class="nav-link  fw-bold"routerLink="/home" routerLinkActive="active-link">Home</a>
           </li>
           <li class="nav-item">
              <a class="nav-link  fw-bold" routerLink="/about" routerLinkActive="active-link">About</a>
           </li>
           <li class="nav-item">
              <a class="nav-link  fw-bold"routerLink="/skills" routerLinkActive="active-link">Skills</a>
           </li>
           <li class="nav-item">
              <a class="nav-link  fw-bold" routerLink="/projects" routerLinkActive="active-link">My Projects</a>
           </li>
          <li class="nav-item">
              <a class="nav-link  fw-bold"routerLink="/contact" routerLinkActive="active-link">Contact Me</a>
           </li>
        </ul>
     </div>
  </div>
</nav> 
 <section class="skills  vh-100" id="skills">
   <div class="container ">
   <div class="row ">
   <div class="skills-title mt-4">
   <h2 class="fw-bold  text-center mb-2">My Skills</h2>
   </div>
   <div class="col-12 col-md-6 p-3">
   <div class="skill-progress1 ">
   
   <span>HTML5 <span>90%</span></span>
   
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar   rounded-3" style="width: 95%" data-aos="fade-right"></div>
   </div>
   
   <span>CSS3 <span> 85%</span></span>
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar  rounded-3" style="width: 85%"data-aos="fade-right"></div>
   </div>
   
   <span>Bootstrap5 <span>90%</span></span>
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar rounded-3" style="width: 90%"data-aos="fade-right"></div>
   </div>
   </div>
   
   <span>Typescript <span>75%</span></span>
   
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar  rounded-3"data-aos="fade-right" style="width: 75%"></div>
   </div>
   </div>
   
   
   <div class="col-12 col-md-6 p-3 ">
   <div class="skill-progress2 ">
   
   <span>JAVASCRIPT <span>85%</span></span>
   
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar  rounded-3"data-aos="fade-right" style="width: 85%"></div>
   </div>
   
   <span>jQuery <span> 80%</span></span>
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar  rounded-3"data-aos="fade-right" style="width: 80%"></div>
   </div>
   
   <span> Sass <span>75%</span></span>
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar  rounded-3"data-aos="fade-right" style="width: 75%"></div>
   </div>
   
   <span>Angular <span>80%</span></span>
   
   <div class="progress mb-4 rounded-3" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
     <div class="progress-bar  rounded-3"data-aos="fade-right" style="width: 80%"></div>
   </div>
   </div>
   
   </div>
   </div>
   </div>
   </section>
